# Excluding directories
dev
docs
/archive
data/
trash/
dev/
.github/
.git

# Excluding files
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
*.tar.gz
.Renviron
*.pptx
.gitignore
.DS_Store
*.txt
.DS_Store
README.md
trash.R

