#### R specific ignore files
*.Rproj
*.RData
*.Rproj.user
*.Rhistory
*.Ruserdata
*.Renviron

#### Other uncommon files
*.pptx
*.DS_Store
*.tar.gz

#### Private directories
data
dev
/archive
/supplementary

#### Misc files
trash.R
